<a href="https://colab.research.google.com/github/HurtadoMont/u/blob/main/actividad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
suma = 0
x = 20
suma = suma+x
y = 40
x= x+y**2
suma =suma+(x/y)
print(suma)

60.5

In [5]:
juan = int(input("Cuantos años tiene Juan?  "))
alberto = int(juan*2/3)
ana = int(juan*4/3)
madre = int(ana+juan+alberto)
print("Entonces, Juan tiene", juan, "Alberto tiene", alberto, "Ana tiene", ana, "y la madre tiene", madre)

Cuantos años tiene Juan?  12
Entonces, juan tiene  12 Alberto tiene  8 Ana tiene  16 y la madre tiene  36

In [7]:
numero = int(input("ingrese el numero del que quiera el cuadrado y el cubo"))

print("EL cuadrado del numero es: ", numero**2, "y el cubo del numero es: ", numero**3)

ingrese el numero del que quiera el cuadrado y el cubo2
EL cuadrado del numero es:  4 y el cubo del numero es:  8

In [17]:
import math
radio = (float(input("ingresa el radio del circulo ")))
area = math.pi*(radio**2)
longitud = 2*math.pi*radio
print(f"Entonces, el area del circulo es: {area:.2f} y la longitud de la circunferencia es igual a: {longitud:.2f}")

ingresa el radio del circulo 5
Entonces, el area del circulo es: 78.54 y la longitud de la circunferencia es igual a: 31.42

In [20]:
horas= 48
bruto = horas*5000
retencion = bruto*0.125
salario = bruto-retencion

print(f"El salario semanal del empleado es de {bruto}, pero tiene una retencion de un 12.5%, que equivale a {retencion}, osea que el salario semanal es de {salario} ")

El salario semanal del empleado es de 240000, pero tiene una retencion de un 12.5%, que equivale a 30000.0, osea que el salario semanal es de 210000.0